<div class="container" ng-controller="userCtrl">
  <div class="row">
    <div class="">
      <div class="login_user_name">
        <% if logged_in? %>
        <div class="login_user_name" ng-model="login_user"
        ng-init="login_user={id:'<%= @current_user.id %>', name:'<%= @current_user.name %>'}">
          Hello, {{login_user.name}}さん。
        </div>
        <% else %>
        <div class="login_user_name" ng-model="login_user"
        ng-init="login_user={id:'0', name:'dummy'}">
          ログインしていません。
          <form novalidate name="loginForm" ng-submit="login()">
            <div>
              ユーザ名:
              <input type="text" name="name" ng-model="name" required>
            </div>
            <div>
              パスワード:
              <input type="text" name="pass" ng-model="pass" required>
            </div>
            <div>
              <input type="submit" value="ログインする" ng-disabled="loginForm.$invalid">
            </div>
          </form>
        </div>
        <% end %>
      </div>

      <br>

      <div class="user_name" ng-model="user"
      ng-init="user={id:'<%= @user.id %>', name:'<%= @user.name %>'}">
        ここは{{user.name}}さんのページです(´・ω・｀)
      </div>

      <br>

      <div class="skill_title">
        スキル・特徴
      </div>

      <div class="skill_form">
        <form novalidate name="myForm" ng-submit="addSkill()">
          <input type="text" name="skill" ng-model="skill" required>
          <input type="submit" value="追加" ng-disabled="myForm.$invalid">
        </form>
      </div>

      <div class="skills" ng-repeat="skill in skills | orderBy: '-liked'">
        <div class="btn btn-primary" ng-click="likeSkill($index)">
          {{skill.liked}}
        </div>
        <a href="/skills/{{skill.id}}">{{skill.name}}</a>
      </div>

      <button type="button" class="btn btn-primary">
        <%= link_to '一覧に戻る', users_path %>
      </button>
    </div>
  </div>
</div>
